<div class="row">
  <div class="col-sm offset-sm-1 offset-md-1 col-md-10" style="margin-top: 5rem;">
    <table class="table  table-fixed text-center align-middle table-striped table-hover caption-top">
      <caption class="fs-3 text-center">List of products</caption>
      <thead class="fs-5 table-dark">
        <tr>
          <th scope="col">Sr. No.</th>
          <th scope="col">Image</th>
          <th scope="col">Product Name</th>
          <th scope="col">Price</th>
          <th scope="col">Color</th>
          <th scope="col">Category</th>
          <th scope="col">Description</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr class="fs-6 lh-1" *ngFor="let item of productList">
          <th scope="row">{{item.id}}</th>
          <td><img class="img-style" src="{{item.image}}"></td>
          <td class="text-truncate">{{item.name}}</td>
          <td class="text-truncate">{{item.price}}</td>
          <td class="text-truncate">{{item.color}}</td>
          <td class="text-truncate">{{item.category}}</td>
          <td class="text-truncate">{{item.description}}</td>
          <td><button class="btn" (click)="deleteProduct(item.id)"><fa-icon [icon]="deletIcon"></fa-icon></button>
            <button class="btn ms-4" routerLink="/seller-update-product/{{item.id}}"><a><fa-icon
                  [icon]="editIcon"></fa-icon></a></button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>